body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #f8f9fa;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.card h2 {
    margin: 0 0 20px 0;
}

.options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.option-button {
    background-color: #343a40;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
}

.option-button:hover {
    background-color: #23272b;
}